.Thm {
  padding: 1em 1em;
  margin: 0 0 2em;
  color: #232323;
  background: #fff8e8;
  border-left: solid 10px #ffc06e;
}
.Thm p {
  padding: 0;
  margin: 0;
}
.ProofQED:before {
  float: right;
  content: "∎";
}
